# Firebase Configuration - File Path Approach
FIREBASE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=

# String Approach for Google Application Credentials
# For Production Use Only, do not needed in development
GCP_CREDENTIALS_JSON=

# Other configurations
OPENROUTER_MODEL=openai/gpt-4.1-nano
OPENROUTER_API_KEY=

ZAPIER_MCP_SERVER_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PORT=5000